<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drink</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="blocks/header :: header"></div>
<div class="container mt-5">
    <div th:each="el : ${drink}" class="alert alert-info mt-2">
        <h5><span th:text="${el.id}"></span>. <span th:text="${el.productName}"></span></h5>
        <h6>Price is: <span th:text="${el.price}"></span>$</h6>
        <h6>Is for adults: <span th:text="${el.forAdult}"></span></h6>
        <a th:href="'/drinks/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br>
        <form th:action="'/drinks/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>

        <a th:href="'/drinks'">Back to menu</a>
    </div>

    <br>
    <br>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>
